@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  margin-bottom: 6em;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color:#1a4a6e;
  letter-spacing: -1px;
  font-weight: 400
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: #555;
}

.save {
  background: #1a4a6e;
  color: #fff;
  padding: 0.1em 0.4em;
  border-radius: 6px;
}

.ticket {
  background: #1a4a6e;
  color: #fff;
  font-size: 30px;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif !important;
}

.pure-g {
  letter-spacing: 0 !important;
  font-family: 'Open Sans', sans-serif !important;
  display: block;
}

.pure-form .pure-group input, .pure-form .pure-group textarea {
    display: inline;
  }

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.innContainer{
}

.centerText {
  text-align: center;
}

.logo {
  text-align: center;
  max-width: 400px;
  margin: 2em auto;
}

.logo img {
  width: 100%
}

.btn {
  background-color: #1a4a6e;
  color: #fff !important;
  font-size: 20px;
  border-radius: 6px;
  border: 0;
  padding: 0.5em 1em;
}

.btn:hover {
  background-color: #414141;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#cmi input {
  width: 90%;
}

#cx-details input{
  margin:5px;
  padding:3px;
}

.debt-item .debtIcon{
  display:block;
  font-size: 4em;
  margin-bottom: 10px;
  color: #1a4a6e;
}

.pure-form fieldset {
  padding: 0;
}

#personalInfo {
  background-color: #1a4a6e;
  color: #fff;
  padding: 2em 0;
}

#personalInfo h2 {
  color: #fff;
  margin: 0 0 1em 0;
}

#cx-details input {
  padding: 10px;
  color: #555;
}

.addADebt {
  background: #f9f9f9;
}

.addADebt input {
  width: 90%;
}

.debt-summary-item {
  float: left;
  border: solid 1px #ddd;
  padding: 0.5em;
  background: #fefefe;
  margin: 1em;
  width: 20%;
}

.debt-type {
  font-size:20px;
  font-weight: 700;
  color:#1a4a6e;
}

.clear {
  clear: both;
}

.has-error{
  border: 2px solid red !important;
}

.incomeInput{
  max-width: 320px;
      width: 100%;
}

.credit_level{
  height: 3em !important;
}

.comments{

}

.disclaimer{
  margin-top:30px;

}

@media screen and (max-width: 928px) {
  #cx-details input {
    width: 90% !important;
    margin: 0.4em;
  }

  .pure-form-aligned .pure-control-group {
    margin-bottom: 0em;
  }

  .pure-u-1-2, .pure-u-12-24, .pure-u-1-4 {
    width: 100%;
  }

  .debt-summary-item {
    float: none;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 1em 0;
  }
  .incomeInput{
    max-width: initial;
        width: 100%;
  }
}

@media screen and (max-width: 64em) {
  .container {
    margin: 0 2em;
  }
}

@media only screen and (max-width: 480px) {}
.pure-form input:not([type]), .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form label {
    display: initial;
  }
}
